Python Basic

In [15]:
# _(underscore): 이전에 output했던 값을 불러옴

In [1]:
2 + 3

5

In [2]:
5 + _

10

In [16]:
# None: NoneType으로 variable에 입력 가능

In [3]:
x = None

In [21]:
x + 1 # Error

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [23]:
5 ** 2 # to the squared

25

In [24]:
8 // 3

2

In [26]:
19 % 5 # remainder

4

In [30]:
# C to F converter: F = (C * 1.8) + 32
def F(C):
    F = (C * 1.8) + 32
    return F

In [31]:
F(30)

86.0

In [34]:
max(32,10,1,4,5) # Python built-in function

32

In [36]:
print('Hello, Josh.') # print를 run할 경우, there's no "Out[#]" on the left hand side of this cell.

Hello, Josh.

In [37]:
x = print(3 + 4)

7

In [39]:
x # print에는 반환값(output)이 없으므로, x에 대한 "Out[#]"이 나오지 않는다!

In [41]:
# Datatype
x = 3.14
type(x)

float

In [42]:
int(x)

3

In [43]:
str(x)

'3.14'

In [45]:
bool(x) # 값이 존재하면 반드시 True로 나온다.

True

In [46]:
# List: 길이에 제한이 없음 (memory가 허락하는 한.)
# (1) 순서가 있는 자료를 관리하기 편리함
# (2) 다양한 datatype을 다 담을 수 있음
# (3) len()으로 List의 길이 확인
# (4) string은 변경불가능함(immutable)

In [48]:
x = [1, True, 'hello']
x

[1, True, 'hello']

In [49]:
type(x)

list

In [50]:
x[-1]

'hello'

In [51]:
y = [1,2,3,4,5,6,7,8]

In [55]:
y[-50:50] # Slicing에서 index 값이 넘어가더라도, 자동으로 처음과 끝으로 맞춰져서 지정됨

[1, 2, 3, 4, 5, 6, 7, 8]

In [57]:
y[1:7:2] # 마지막 2는 Step을 의미함 (step 2만큼 해서 Slicing해라!)

[2, 4, 6]

In [59]:
y[7:0:-1]

[8, 7, 6, 5, 4, 3, 2]

In [61]:
y[::-1] #전체를 step -1로 불러와라!

[8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
y[4:7] = [500, 600, 700] # 한꺼번에 리스트 elements의 값을 바꿀 수 있음
y

[1, 2, 3, 4, 500, 600, 700, 8]

In [65]:
y[4:7] = [500, 600] # 길이가 맞지 않을 경우, 뒷 부분이 짤려지게 됨
y

[1, 2, 3, 4, 500, 600]

In [66]:
y[2:4] = [100, 100, 100, 100, 100] # 길이가 맞지 않을 경우, 자동으로 길이가 늘어남
y

[1, 2, 100, 100, 100, 100, 100, 500, 600]

In [67]:
# 그러나 다음의 경우는, list 안에 list로서 생성됨
y[1] = [999,999,999,999,999]
y

[1, [999, 999, 999, 999, 999], 100, 100, 100, 100, 100, 500, 600]

In [69]:
# 슬라이싱을 통해 지정할 경우, 자동으로 길이가 늘어남
y[0:1] = [777, 777, 777, 777]
y

[777,
 777,
 777,
 777,
 777,
 777,
 777,
 [999, 999, 999, 999, 999],
 100,
 100,
 100,
 100,
 100,
 500,
 600]

In [73]:
[y[1], y[3], y[7]] = [5, 6, 7] # 불규칙적인 elements를 한꺼번에 바꾸고 싶을 경우 이렇게 작성하면 됨
y

[777, 5, 777, 6, 777, 777, 777, 7, 100, 100, 100, 100, 100, 500, 600]

In [92]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
# list 간의 +를 할 경우, 리스트를 나란히 연결하게 됨
print(x + y)
print(y + x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

In [93]:
# list를 반복하게 됨
x * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [94]:
# x라는 list에 3이 있니 없니?
3 in x

True

In [95]:
# list methods
# (1) append (list 안에 value를 추가함)
x.append(6)
x
# (2) extend (list 안에 다른 list를 붙여줌)
x.extend(y)
x

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10]

In [96]:
x.extend([4,5,6,7,8,9,10])
x.append([4,5,6,7,8])
x

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 4, 5, 6, 7, 8, 9, 10, [4, 5, 6, 7, 8]]

In [100]:
# (3) insert (#번째의 iloc에 ##의 값을 추가한다.)
z = [1,2,3,4,5]
z.insert(2, 100)
z

[1, 2, 100, 3, 4, 5]

In [101]:
# (4) remove (##라는 값을 찾아서 지운다. (중복값이 존재할 경우, 가장 앞에 있는 값만 지움))
z.remove(2)
z

[1, 100, 3, 4, 5]

In [104]:
# (5) del y[1:3]
del z[1:3]
z

[1, 4, 5]