In [3]:
x = [1,2,3,4,5]

In [8]:
x * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
a = 'ABCDEF'

In [10]:
type(a)

str

In [15]:
a[2::2]

'CE'

In [17]:
x = 'hello'
y = 'world'
x + y

'helloworld'

In [18]:
x * 10

'hellohellohellohellohellohellohellohellohellohello'

In [23]:
'el' in x

True

In [24]:
'e' not in x

False

In [25]:
len(x)

5

In [26]:
# Tuple

In [27]:
x = (1, True, 'hello')
x

(1, True, 'hello')

In [28]:
x[1]

True

In [29]:
x[1:]

(True, 'hello')

In [32]:
x[1] = False # Error
x.append(1) # Error

TypeError: 'tuple' object does not support item assignment

In [33]:
del x[1] # Error
del x # possible without an error

TypeError: 'tuple' object doesn't support item deletion

In [36]:
x = (1,2,3,4,5)
y = (6,7,8,9,10)
x + y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [37]:
# dictionary

In [38]:
# dictionary에는 순서가 반영되지 않기 때문에, slicing 이 불가능함

In [40]:
d = {'apple':1, 'banana':2}
d

{'apple': 1, 'banana': 2}

In [43]:
d['orange'] # Error

KeyError: 'orange'

In [44]:
d.get('apple')

1

In [46]:
d.get('orange') # There's no returned output. (Error 없이 반환값 자체를 안 부른다.)

In [47]:
d.get('orange', 0) # 해당 value가 없으면 0을 반환한다.

0

In [48]:
del d['apple']
d

{'banana': 2}

In [50]:
d['apple'] = 5
d

{'banana': 2, 'apple': 5}

In [51]:
# set

In [52]:
xs = {1,2,3}
ys = {2,3,4}

In [53]:
xs | ys

{1, 2, 3, 4}

In [54]:
xs & ys

{2, 3}

In [55]:
xs - ys

{1}

In [56]:
# tuple -> list conversion
x = (1,2,3)
list(x)

[1, 2, 3]

In [57]:
# set -> tuple conversion
xs = {1,2,3}
tuple(xs)

(1, 2, 3)

In [58]:
dict(x) # Error

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [59]:
x = {'apple':1, 'banana':2, 'lemon':3}
list(x) # key만 입력됨

['apple', 'banana', 'lemon']

In [62]:
list(x.values()) # Value만 입력됨

[1, 2, 3]