In [1]:
results = []
for i in range(2, 10):
    for j in range(1, 10):
        results.append(i * j)
results

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [2]:
results = [i * j for i in range(2,10) for j in range(1, 10)]
results

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [3]:
results = [i * j for i in range(1, 10) for j in range(2, 10) if i % 2 == 0]
results

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72]

In [4]:
word1 = 'Hello'
word2 = 'World'

In [5]:
[i + j for i in word1 for j in word2]

['HW',
 'Ho',
 'Hr',
 'Hl',
 'Hd',
 'eW',
 'eo',
 'er',
 'el',
 'ed',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'lW',
 'lo',
 'lr',
 'll',
 'ld',
 'oW',
 'oo',
 'or',
 'ol',
 'od']

In [6]:
case1 = ['Kookmin', 'Chung-Ang']
case2 = ['Philosophy', 'Business', 'Finance']
[i + '_' + j for i in case1 for j in case2]

['Kookmin_Philosophy',
 'Kookmin_Business',
 'Kookmin_Finance',
 'Chung-Ang_Philosophy',
 'Chung-Ang_Business',
 'Chung-Ang_Finance']

In [7]:
# Enumerate

In [8]:
list1 = ['California', 'Texas', 'New York']
for i, v in enumerate(list1):
    print(i, v)

0 California
1 Texas
2 New York

In [9]:
# 짝수번째만 출력하는 방법
for i, v in enumerate(list1):
    if (i + 1) % 2 == 0: print(v)

Texas

In [10]:
# Zip

In [11]:
alist = ['Austin', 'Dallas', 'Houston', 'San Antonio'] # San Antonio는 4th index인데, blist에는 4th item이 없기 때문에 생략됨
blist = ['Los Angeles', 'San Francisco', 'San Diego']
for a, b in zip(alist, blist):
    print(a, b)

Austin Los Angeles
Dallas San Francisco
Houston San Diego

In [14]:
x = [1,2,3]
y = [10,20,30]
z = [100,200,300]
for i in zip(x,y,z):
    print(sum(i))

111
222
333

In [15]:
# Zip + List Comprehension

In [16]:
list_sum = [sum(i) for i in zip(x,y,z)]
list_sum

[111, 222, 333]

In [17]:
# Zip + Enumerate

In [18]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

In [21]:
for i,v in enumerate(zip(alist, blist)):
    print(i, v)

0 ('a1', 'b1')
1 ('a2', 'b2')
2 ('a3', 'b3')

In [22]:
for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3

In [23]:
# Dictionary Comprehension

In [24]:
my_dict = {'a':70, 'b':80, 'c':90}

In [26]:
for key, value in my_dict.items():
    print(key, value)

a 70
b 80
c 90

In [27]:
reverse_dict = {value:key for key, value in my_dict.items()}
reverse_dict

{70: 'a', 80: 'b', 90: 'c'}

In [28]:
alist_dict = {i:v for i, v in enumerate(alist)}
alist_dict

{0: 'a1', 1: 'a2', 2: 'a3'}