In [1]:
'Hello, {}. My name is {} from South Korea.'.format('Gary', 'Joshua')

'Hello, Gary. My name is Joshua from South Korea.'

In [3]:
# percent(%) formatting을 할 경우, 3개 %s 다 적어야 한다. (비효율적이네...)
'Hello, %s. My name is %s from South Korea. Nice to meet you, %s!' %('Gary', 'Joshua', 'Gary')

'Hello, Gary. My name is Joshua from South Korea. Nice to meet you, Gary!'

In [4]:
# format을 사용하면, 두 개만 적어도 된다. (효율적이네!)
'Hello, {0}. My name is {1} from South Korea. Nice to meet you, {0}'.format('Gary', 'Josh')

'Hello, Gary. My name is Josh from South Korea. Nice to meet you, Gary'

In [5]:
'Hello, {your_name}. My name is {my_name} from South Korea. Nice to meet you, {your_name}.'.format(my_name='Josh', your_name='Patricia')

'Hello, Patricia. My name is Josh from South Korea. Nice to meet you, Patricia.'

In [6]:
def print_something(my_name, your_name):
    print('{your_name}, nice to meet you. My name is {my_name} from South Korea.'.format(your_name=your_name, my_name=my_name))

In [7]:
print_something('Joshua', 'Chloe')

Chloe, nice to meet you. My name is Joshua from South Korea.

In [12]:
# List Comprehension

In [8]:
results =[]
for i in range(10):
    results.append(i)
results

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
results = [i for i in range(10)]
results

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
ex = [1,2,3,4,5,6,7,8,9,10]
ex2 = [2 * i for i in ex]
ex2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
def my_func(x):
    x = x + 2
    x = x * 100
    return x

In [12]:
ex3 = [my_func(i) for i in ex]
ex3

[300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

In [13]:
# Filtering도 할 수 있구나!
ex4 = [i for i in ex if i % 2 == 0]
ex4

[2, 4, 6, 8, 10]

In [14]:
ex5 = [i ** 2 for i in ex if i % 2 == 0]
ex5

[4, 16, 36, 64, 100]

In [15]:
# Else Statement도 있을 경우, for statement의 앞에 적어준다.
ex6 = [i ** 2 if i % 2 == 0 else i for i in ex]
ex6

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]