In [1]:
# Split

In [2]:
items = 'zero one two three'
items

'zero one two three'

In [3]:
type(items)

str

In [4]:
items.split()

['zero', 'one', 'two', 'three']

In [5]:
for i in items.split():
    print(i)

zero
one
two
three

In [9]:
ex = 'python,r,sql'
ex.split(',')

['python', 'r', 'sql']

In [10]:
# Unpacking
a, b, c = ex.split(',')

In [11]:
print(a)
print(b)
print(c)

python
r
sql

In [13]:
ex2 = 'Kookmin.MBA.AIBIGDATA'
ex2.split('.')

['Kookmin', 'MBA', 'AIBIGDATA']

In [14]:
ex_list = ex2.split('.')

In [15]:
ex_list[1:]

['MBA', 'AIBIGDATA']

In [16]:
# Join
'/'.join(ex_list)

'Kookmin/MBA/AIBIGDATA'

In [17]:
print('My name is', 'Joshua', 'from South Korea.')

My name is Joshua from South Korea.

In [18]:
# Percent(%) Formatting
'My name is', 'Joshua', 'From South Korea'

('My name is', 'Joshua', 'From South Korea')

In [19]:
'My name is %s from South Korea' %('Joshua')

'My name is Joshua from South Korea'

In [20]:
'Hello Mrs./Ms. %s, my name is %s from South Korea' %('Kathryne', 'Joshua')

'Hello Mrs./Ms. Kathryne, my name is Joshua from South Korea'

In [21]:
my_name = 'Joshua'
your_name = 'Gary'
'%s, glad to meet you. My name is %s' %(your_name, my_name)

'Gary, glad to meet you. My name is Joshua'

In [22]:
# Keyword Formatting
Names_dict = {'my_name': 'Joshua', 'your_name': 'Julia'}
'%(your_name)s, glad to meet you. My name is %(my_name)s' %Names_dict

'Julia, glad to meet you. My name is Joshua'