In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/sample_df.csv')
df.head()

      Name             Birth                  email
0  Captain   2019-01-01 9:10       happy@gmail.com
1     Hulk   2019-01-08 9:20         1004@NAVER.COM
2     Iron  2019-02-01 10:20   Iron at yahoo.co.kr
3    Widow  2019-02-02 11:40      \tWidow@gmail.com
4     Thor  2019-02-28 15:10        thor@daum.net\t

In [3]:
email = df['email']
email = email.str.strip()
email = email.str.replace(' at ', '@')
email

0       happy@gmail.com
1        1004@NAVER.COM
2      Iron@yahoo.co.kr
3       Widow@gmail.com
4         thor@daum.net
5    HAWK@kookmin.ac.kr
6      loki88@gmail.com
7        fury@NAVER.COM
8       FALCON@daum.net
9     strange@gmail.com
Name: email, dtype: object

In [4]:
# Lowercase
email.str.lower()

0       happy@gmail.com
1        1004@naver.com
2      iron@yahoo.co.kr
3       widow@gmail.com
4         thor@daum.net
5    hawk@kookmin.ac.kr
6      loki88@gmail.com
7        fury@naver.com
8       falcon@daum.net
9     strange@gmail.com
Name: email, dtype: object

In [5]:
# Uppercase
email.str.upper()

0       HAPPY@GMAIL.COM
1        1004@NAVER.COM
2      IRON@YAHOO.CO.KR
3       WIDOW@GMAIL.COM
4         THOR@DAUM.NET
5    HAWK@KOOKMIN.AC.KR
6      LOKI88@GMAIL.COM
7        FURY@NAVER.COM
8       FALCON@DAUM.NET
9     STRANGE@GMAIL.COM
Name: email, dtype: object

In [6]:
# Capitalize: only first letter uppercase, and then lowercase all!
email.str.capitalize()

0       Happy@gmail.com
1        1004@naver.com
2      Iron@yahoo.co.kr
3       Widow@gmail.com
4         Thor@daum.net
5    Hawk@kookmin.ac.kr
6      Loki88@gmail.com
7        Fury@naver.com
8       Falcon@daum.net
9     Strange@gmail.com
Name: email, dtype: object

In [7]:
# Startswith
email.str.startswith('h')

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: email, dtype: bool

In [8]:
# Endswith
email.str.endswith('gmail.com')

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9     True
Name: email, dtype: bool

In [9]:
# Contains: VBA's instr
email.str.contains('gmail')

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
9     True
Name: email, dtype: bool

In [10]:
# email with gmail
gmail = email[email.str.contains('gmail')]
gmail

0      happy@gmail.com
3      Widow@gmail.com
6     loki88@gmail.com
9    strange@gmail.com
Name: email, dtype: object

In [11]:
# email without gmail
not_gmail = email[~ email.str.contains('gmail')]
not_gmail

1        1004@NAVER.COM
2      Iron@yahoo.co.kr
4         thor@daum.net
5    HAWK@kookmin.ac.kr
7        fury@NAVER.COM
8       FALCON@daum.net
Name: email, dtype: object