In [1]:
import pandas as pd
import numpy as np

In [2]:
movie = pd.read_csv('data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
# When you look thru numeric columns, try like below! min~max!
movie.describe().T.iloc[:, 3:]

,min,25%,50%,75%,max
num_critic_for_reviews,1.00,49.00,108.00,191.00,8.130000e+02
duration,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_facebook_likes,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_facebook_likes,0.00,607.00,982.00,11000.00,6.400000e+05
gross,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
num_voted_users,5.00,8361.75,33132.50,93772.75,1.689764e+06
cast_total_facebook_likes,0.00,1394.75,3049.00,13616.75,6.567300e+05
facenumber_in_poster,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,1.00,64.00,153.00,320.50,5.060000e+03
budget,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,0.00,0.00,159.00,2000.00,3.490000e+05

## Changing the Outliers into the NaN Values!

In [7]:
duration = movie['duration'].dropna()
duration

0       178.0
1       169.0
2       148.0
3       164.0
5       132.0
        ...
4911     87.0
4912     43.0
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4901, dtype: float64

In [8]:
# i would like to set the range from 60 to 180 as normal range!
normal = duration.between(60, 180)
duration[normal]

0       178.0
1       169.0
2       148.0
3       164.0
5       132.0
        ...
4910     95.0
4911     87.0
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4756, dtype: float64

In [9]:
# and check out what are the abnormal range!
duration[~ normal]

10      183.0
23      186.0
25      201.0
26      194.0
32      195.0
        ...
4761     35.0
4791     59.0
4815     25.0
4865     47.0
4912     43.0
Name: duration, Length: 145, dtype: float64

In [10]:
# change the abnormal values all into the NaN values!
duration[~ normal] = np.nan
duration

0       178.0
1       169.0
2       148.0
3       164.0
5       132.0
        ...
4911     87.0
4912      NaN
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4901, dtype: float64

## Changing the Outliers into the normal range!

In [11]:
duration = movie['duration'].dropna()
duration

0       178.0
1       169.0
2       148.0
3       164.0
5       132.0
        ...
4911     87.0
4912     43.0
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4901, dtype: float64

In [12]:
duration.describe()

count    4901.000000
mean      107.090798
std        25.286015
min         7.000000
25%        93.000000
50%       103.000000
75%       118.000000
max       511.000000
Name: duration, dtype: float64

In [13]:
# min: 60, max: 180
duration.clip(lower=60, upper=180).describe()

count    4901.000000
mean      106.915323
std        21.158391
min        60.000000
25%        93.000000
50%       103.000000
75%       118.000000
max       180.000000
Name: duration, dtype: float64

## Where method

In [14]:
normal = duration > 60
duration.where(normal, 59)

0       178.0
1       169.0
2       148.0
3       164.0
5       132.0
        ...
4911     87.0
4912     59.0
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4901, dtype: float64

In [15]:
normal = duration.between(60, 180)
duration.where(normal, np.nan)

0       178.0
1       169.0
2       148.0
3       164.0
5       132.0
        ...
4911     87.0
4912      NaN
4913     76.0
4914    100.0
4915     90.0
Name: duration, Length: 4901, dtype: float64