In [1]:
import pandas as pd
import numpy as np

In [2]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

# How was it delayed on average for each airline company?

### method 1

In [4]:
# Series
flights.groupby('AIRLINE')['ARR_DELAY'].mean().round(2)

AIRLINE
AA     5.54
AS    -0.83
B6     8.69
DL     0.34
EV     7.03
F9    13.63
HA     4.97
MQ     6.86
NK    18.44
OO     7.59
UA     7.77
US     1.68
VX     5.35
WN     6.40
Name: ARR_DELAY, dtype: float64

In [5]:
# DataFrame
flights.groupby('AIRLINE')[['ARR_DELAY']].mean().round(2)

         ARR_DELAY
AIRLINE
AA            5.54
AS           -0.83
B6            8.69
DL            0.34
EV            7.03
F9           13.63
HA            4.97
MQ            6.86
NK           18.44
OO            7.59
UA            7.77
US            1.68
VX            5.35
WN            6.40

### method 2

In [6]:
flights.groupby('AIRLINE')[['ARR_DELAY']].agg(np.mean).round(2)

         ARR_DELAY
AIRLINE
AA            5.54
AS           -0.83
B6            8.69
DL            0.34
EV            7.03
F9           13.63
HA            4.97
MQ            6.86
NK           18.44
OO            7.59
UA            7.77
US            1.68
VX            5.35
WN            6.40

### method 3 (IMPORTANT!!!!!!!)

In [7]:
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'})

         ARR_DELAY
AIRLINE
AA        5.542661
AS       -0.833333
B6        8.692593
DL        0.339691
EV        7.034580
F9       13.630651
HA        4.972973
MQ        6.860591
NK       18.436070
OO        7.593463
UA        7.765755
US        1.681105
VX        5.348884
WN        6.397353